{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    {% if app.user %}
    <h1 class="showTitle">{{movie.title}}</h1>

        <div class="movieShow">

            <div class="movieShowLeft">
                <div class="showItem">
                    <img src="{{'/uploads/' ~ movie.poster  }}" alt="{{movie.title}}"/>
                </div>
            </div>

            <div class="movieShowRight">
                <div class="showItem">
                    {{movie.genre}}
                </div>
                <div class="showItem">
                    {{movie.country}}
                </div>
                <div class="showItem">
                    {{movie.releaseDate|date('d-m-Y')}}
                </div>
                <div class="showItem">
                    {{movie.duration}} min
                </div>
                <div class="showItem">
                    {{movie.support}}
                </div>
                <div class="showItem">
                    {{movie.synopsis}}
                </div>
                <div class="showItem">
                    <iframe width="560" height="315" src="{{movie.trailer}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="movieEdit">
            <a href="{{ path('movie_edit', {'id': movie.id}) }}">Editer la fiche</a>
        </div>
        <div class="movieDelete">
            <a href="{{ path('movie_delete', {'id': movie.id}) }}">Supprimer la fiche</a>
        </div>

    {% else %}
        <p>Veuillez créer un compte pour commencer à créer votre Vidéothèque<p>
    {% endif %}
{% endblock %}
