{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="blockSearch">
            <h1 class="searchTitle">Recherche</h1>
            {{ form_start(searchForm) }}
                <div class="searchItem">
                    {{ form_row(searchForm.genre) }}
                </div>
                <div class="searchItem">
                    {{ form_row(searchForm.country) }}
                </div>
                <div class="searchItem">
                    {{ form_row(searchForm.support) }}
                </div>
                <div class="searchItem">
                    {{ form_row(searchForm.save) }}
                </div>
            {{ form_end(searchForm) }}
        </div>
            <div class="blockMovie">   
            {% for movie in movies %}
                {% if movie.support == 'Blu-ray' %}
                    <div class="movieBlu">
                        <a href="{{ path('movie_show', {'id': movie.id}) }}">
                            <img src="{{'/uploads/' ~ movie.poster   }}">
                        </a>
                    </div>
                {% endif %}
                {% if movie.support == 'DVD' %}
                    <div class="movieDvd">
                        <a href="{{ path('movie_show', {'id': movie.id}) }}">
                            <img src="{{'/uploads/' ~ movie.poster   }}">
                        </a>
                    </div>
                {% endif %}
                {% if movie.support == 'Blu-ray 4K' %}
                    <div class="movie4K">
                        <a href="{{ path('movie_show', {'id': movie.id}) }}">
                            <img src="{{'/uploads/' ~ movie.poster   }}">
                        </a> 
                    </div>
                {% endif %}
                {% if movie.support == 'Blu-ray 3D' %}
                    <div class="movie3D">
                        <a href="{{ path('movie_show', {'id': movie.id}) }}">
                            <img src="{{'/uploads/' ~ movie.poster   }}">
                        </a> 
                    </div>
                {% endif %}
                {% if movie.support == 'Divx' %}
                    <div class="movieDivx">
                        <a href="{{ path('movie_show', {'id': movie.id}) }}">
                            <img src="{{'/uploads/' ~ movie.poster   }}">
                        </a> 
                    </div>
                {% endif %}
            {% else %}
                
                   <p>no records found</p>
                
            {% endfor %}
        </div>
    {% else %}
        <p>Veuillez créer un compte pour commencer à créer votre Vidéothèque<p>
    {% endif %}
{% endblock %}
